:root {
  /* Color */
  --color-primary: #00A69C;
  --color-primary-dark: darken(--color-primary, 10%);
  --color-primary-darker: darken(--color-primary, 20%);
  --color-primary-bright: lighten(--color-primary, 10%);
  --color-primary-brighter: lighten(--color-primary, 20%);

  --color-secondary: #83D01B;
  --color-secondary-dark: darken(--color-secondary, 5%);
  --color-secondary-darker: darken(--color-secondary, 20%);
  --color-secondary-bright: lighten(--color-secondary, 10%);
  --color-secondary-brighter: lighten(--color-secondary, 20%);

  --color-background-dark: #333333;
  --color-background-darker: #000000;
  --color-background-bright: #EEEEFF;
  --color-background-brighter: #FFFFFF;

  --color-foreground-dark: #333333;
  --color-foreground-darker: #000000;
  --color-foreground-bright: #EEEEEE;
  --color-foreground-brighter: #FFFFFF;

  /* Animations */
  --animation-speed-default: .35s;
  --animation-speed-slow: .5s;
  --animation-speed-fast: .15s;

  /* Font */
  --font-weight-light: 200;
  --font-weight-semilight: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-xs: .65rem;
/ / 10.4 px --font-size-s: .85 rem;
/ / 13.6 px --font-size-m: 1 rem;
/ / 16 px --font-size-l: 1.25 rem;
/ / 20 px --font-size-xl: 1.5 rem;
/ / 24 px

  /* Medias */
--media-screen-xxs: 360 px;
  --media-screen-xs: 640px;
  --media-screen-s: 768px;
  --media-screen-m: 1024px;
  --media-screen-l: 1280px;
  --media-screen-xl: 1440px;
  --media-screen-xxl: 1680px;
  --media-screen-xxxl: 1920px;

  /*  Borders */
  --border-light: 1px;

  /* Images */
  --image_path: '/assets/images/';
  --image-main_banner: '#{--image_path}main_banner.png';
  --image-arrow_down: '#{--image_path}arrow-down.png';
}
