<div class="container" *ngIf="steps[0]">
    <div class="step row">
        <div class="init-string" style="width: 100%;">
            Khởi tạo S0
        </div>
        <div class="col-4 state">
            <div class="row state-inner">
                <div class="column-1">
                    <div class="disk-3" [ngClass]="{'hidden':false}"></div>
                    <div class="disk-2" [ngClass]="{'hidden':false}"></div>
                    <div class="disk-1" [ngClass]="{'hidden':false}"></div>
                    <div class="column-img"></div>
                </div>
                <div class="column-2">
                    <div class="disk-3" [ngClass]="{'hidden':true}"></div>
                    <div class="disk-2" [ngClass]="{'hidden':true}"></div>
                    <div class="disk-1" [ngClass]="{'hidden':true}"></div>
                    <div class="column-img"></div>
                </div>
                <div class="column-3">
                    <div class="disk-3" [ngClass]="{'hidden':true}"></div>
                    <div class="disk-2" [ngClass]="{'hidden':true}"></div>
                    <div class="disk-1" ngClass="hidden"></div>
                    <div class="column-img"></div>
                </div>
            </div>
            <div class="row state-identity"><span> S0 </span> </div>
        </div>
        <div class="end-string" style="width: 100%;">
            Thêm S0 vào OPEN
        </div>
        <div style="display: block;" class="col-12">
            OPEN = {{'{S0}'}}
        </div>
        <div style="display: block;" class="col-12">
            <span>
            CLOSE = {{'{}'}}
        </span>
        </div>
    </div>

    <div *ngFor="let step of steps; let i=index" class="step row">
        <div> Bước {{i+1}} </div>
        <div class="init-string" style="width: 100%;">
            {{step.initString}}
        </div>
        <div *ngFor="let v of step.newOpens" class="col-4 state">
            <div class="row state-inner">
                <div class="column-1">
                    <div class="disk-3" [ngClass]="{'hidden':!(v.state.disks[2]==1)}"></div>
                    <div class="disk-2" [ngClass]="{'hidden':!(v.state.disks[1]==1)}"></div>
                    <div class="disk-1" [ngClass]="{'hidden':!(v.state.disks[0]==1)}"></div>
                    <div class="column-img"></div>
                </div>
                <div class="column-2">
                    <div class="disk-3" [ngClass]="{'hidden':!(v.state.disks[2]==2)}"></div>
                    <div class="disk-2" [ngClass]="{'hidden':!(v.state.disks[1]==2)}"></div>
                    <div class="disk-1" [ngClass]="{'hidden':!(v.state.disks[0]==2)}"></div>
                    <div class="column-img"></div>
                </div>
                <div class="column-3">
                    <div class="disk-3" [ngClass]="{'hidden':!(v.state.disks[2]==3)}"></div>
                    <div class="disk-2" [ngClass]="{'hidden':!(v.state.disks[1]==3)}"></div>
                    <div class="disk-1" [ngClass]="{'hidden':!(v.state.disks[0]==3)}"></div>
                    <div class="column-img"></div>
                </div>
            </div>
            <div class="row state-identity"><span> S{{v.identity}} </span> </div>
            <div class="row">
                <span class="col-12"> g = {{v.g}}</span>
                <span class="col-12"> h = {{v.h}}</span>
                <span class="col-12"> f = {{v.f}}</span>
            </div>
        </div>
        <div class="end-string" style="width: 100%;">
            {{step.finishString}}
        </div>
        <div style="display: block;" class="col-12">
            OPEN = {{"{"+step.openToString+"}"}}
        </div>
        <div style="display: block;" class="col-12">
            CLOSE = {{"{"+step.closeToString+"}"}}
        </div>
    </div>

    <div class="step row">
        <ng-container *ngIf="steps[0].close">
            <div class="init-string" style="width: 100%;">
                Tìm thấy {{steps[0].close[steps[0].close.length-1].identity}} có trạng thái đích, Kết thúc tìm kiếm
            </div>
            <div class="col-4 state">
                <div class="row state-inner">
                    <div class="column-1">
                        <div class="disk-3" [ngClass]="{'hidden':true}"></div>
                        <div class="disk-2" [ngClass]="{'hidden':true}"></div>
                        <div class="disk-1" [ngClass]="{'hidden':true}"></div>
                        <div class="column-img"></div>
                    </div>
                    <div class="column-2">
                        <div class="disk-3" [ngClass]="{'hidden':true}"></div>
                        <div class="disk-2" [ngClass]="{'hidden':true}"></div>
                        <div class="disk-1" [ngClass]="{'hidden':true}"></div>
                        <div class="column-img"></div>
                    </div>
                    <div class="column-3">
                        <div class="disk-3" [ngClass]="{'hidden':false}"></div>
                        <div class="disk-2" [ngClass]="{'hidden':false}"></div>
                        <div class="disk-1"></div>
                        <div class="column-img"></div>
                    </div>
                </div>
                <div class="row state-identity"><span>  {{steps[0].close[steps[0].close.length-1].identity}}  </span> </div>
            </div>
            <div class="end-string" style="width: 100%;">
                Vậy đường đi ngắn nhất là {{steps[steps.length-1].closeToString}}
            </div>
        </ng-container>

    </div>
</div>