.esh-header {
    background-color: #fff;
    filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#003e52', endColorstr='#1a9cb7', GradientType=1)";
    width: 100%;
    position: fixed;
    z-index: 300;
}