/* You can add global styles to this file, and also import other style files */

@import './app/variable';
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
:root {
    a:hover,
    a:active {
        color: $color-secondary-darker;
        text-decoration: none;
        outline: none;
    }
    a {
        color: $color-foreground-dark;
    }
    img {
        width: 100%;
        height: auto;
    }
}

// $primary: #0074d9;
// $danger: #ff4136;
// $theme-colors: ( "primary": $primary, "sencondary": $danger);
$theme-colors: ( "primary": $color-primary, "secondary": $color-secondary, "light": $color-foreground-bright);
// Merge the maps
// $theme-colors: map-merge($theme-colors, $custom-colors);
// $theme-colors: map-remove($theme-colors, "info", "light", "dark");
@import "bootstrap";
// Custom form
.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}

//nav boostra[
.nav-item {
    cursor: pointer;
}

//custom label
label {
    margin: 0;
}

.alert-sm {
    font-size: x-small;
    color: $color-danger;
}