:root {
    --color-rice: #f6f4f1;
    --color-cream: #d4ab92;
    --color-black: #1c1c1c;
    --color-green: #54553e;
    --color-white: #fff;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
}

img,
svg {
    vertical-align: middle;
    display: block;
}

ul {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
    touch-action: manipulation;
}

.fa {
    color: var(--color-black);
}

.shop-announce {
    color: rgb(255, 255, 255);
    background: rgb(141, 156, 183) none repeat scroll 0% 0%;
    text-align: center;
    font-size: .9rem;
    padding: 5px 15px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 30000;
}

.shop-header {
    max-height: 50px;
    border-bottom: 1px solid var(--color-rice);
}

.header-logo {
    margin: auto;
    height: 100%;
    display: block;
    position: relative;
}

.header-logo a img {
    height: 1.65em;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.header-nav {
    margin: auto 15px;
    font-size: 1.2rem;
    font-weight: 100;
    font-style: normal;
}

.nav-list {
    display: flex;
    position: relative;
}

.nav-item-dropdown {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbtn {
    color: #1c1c1c;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--color-cream);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    z-index: 1;
    background-color: var(--color-rice);
    width: 100vw;
    height: auto;
    padding: 20px 0;
}

.nav-item-dropdown:hover .dropdown-content {
    display: block;
}

.drop-link {
    display: block;
    color: var(--color-black);
    padding: 15px 0;
}

.drop-link:hover {
    color: var(--color-cream);
}

.header-left-comp {
    padding-right: 50px;
}

.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.header-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.header-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.link-cart-inner {
    display: block;
    position: relative;
}

.link-cart-count {
    position: absolute;
    top: -7px;
    right: -9px;
    width: 16px;
    height: 16px;
    line-height: 17px;
    font-size: 9px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--color-green);
    color: var(--color-white);
    transition: .2s;
}

.header-user:hover,
.header-search:hover,
.header-cart:hover .link-cart {
    color: var(--color-cream);
}

.header-cart:hover .link-cart-count {
    background-color: var(--color-cream);
    line-height: 18px;
    top: -10px;
    right: -11px;
    width: 18px;
    height: 18px;
    transition: .2s;
}