<div class="containter">
    <h2> Order manager </h2>
    <ul class="nav nav-tabs">
        <li class="nav-item" *ngFor="let statusObj of OrderStatus">
            <p class="nav-link" (click)="changeTab(statusObj.value)" [ngClass]="{'active':selectedTab==statusObj.value}">
                {{statusObj.name}}</p>
        </li>
    </ul>
    <div class="table-container-tab">
        <div class="search-section d-flex align-items-center">
            <form class="search-form row" *ngIf="searchFormGroup" [formGroup]="searchFormGroup">
                <div class="mb-3 col-3">
                    <label class="form-label">Order id</label>
                    <input type="text" class="form-control" formControlName="id">
                </div>
                <div class="mb-3 col-3">
                    <label class="form-label">Create date</label>
                    <input type="date" class="form-control" formControlName="createDate">
                </div>
                <div class="mb-3 col-3">
                    <label class="form-label">Payment method</label>
                    <select class="form-control custom-select" formControlName="paymentMethod">
                        <option *ngFor="let paymentMethod of Object.values(EPaymentMethod)" [value]="paymentMethod"> {{paymentMethod}} </option>
                    </select>
                </div>
                <!-- <div class="mb-3 col-3">
                    <label class="form-label">Status</label>
                    <select class="form-control custom-select" formControlName="status">
                        <option *ngFor="let status of OrderStatus" [value]="status.value"> {{status.name}}</option>
                    </select>
                </div> -->
            </form>
            <button class="btn btn-primary" (click)="searchOrder()"> Search </button>
            <button class="btn clear-btn" (click)="loadSearchForm()"><i class="fas fa-times"></i>  </button>
        </div>
        <div *ngIf="selectedOrders.length !=0" class="action-multiple d-flex">
            <button class="btn btn-sm" (click)="print(selectedOrders)">Print</button>
            <div ngbDropdown class="d-inline-block" *ngIf="selectedTab==EOrderStatus.Pending || selectedTab==EOrderStatus.ReadyToShip">
                <button class="btn btn-sm" id="dropdownBasic1" ngbDropdownToggle>Change Status <i class="fas fa-angle-down"></i> </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngIf="selectedTab==EOrderStatus.Pending" (click)="changeStatusOrders(selectedOrders, EOrderStatus.ReadyToShip)">Ready To Ship</button>
                    <button ngbDropdownItem (click)="changeStatusOrders(selectedOrders, EOrderStatus.Canceled)">Cancel</button>
                </div>
            </div>
        </div>
        <div class="orders table">
            <table>
                <thead>
                    <tr>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <input type="checkbox" (change)="onCheckOrder($event)" [checked]="selectedOrders.length!=0">
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <!-- Toggle -->
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <p> Order id </p>
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <p> Shipping Address </p>
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <p> Order date </p>
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <p> Payment method </p>
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <p> Price </p>
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <p> # </p>
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <p> Status </p>
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                <p> Actions </p>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <ng-container *ngFor="let order of orders">
                        <tr class="table-row">
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <input type="checkbox" (change)="onCheckOrder($event, order.id)" [checked]="isSelected(order.id)">
                                </div>
                            </td>
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <button class="btn btn-sm btn-info" (click)="toggleOrderItem(order.id)">
                                     <i class="fas fa-plus" ></i>
                                    </button>
                                </div>
                            </td>
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <p> {{order.id}} </p>
                                </div>
                            </td>

                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <p> {{order.customer.name}} </p>
                                    <p> {{order.shippingAddress}} </p>
                                </div>
                            </td>
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <p> {{order.createDate}}</p>
                                </div>
                            </td>
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <p> {{order.paymentMethod}}</p>
                                </div>
                            </td>
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <p> {{order.totalPrice}}</p>
                                </div>
                            </td>
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <p> {{order.orderItems?.length}} </p>
                                </div>
                            </td>
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <p> {{order.status}}</p>
                                </div>
                            </td>
                            <td class="table-cell table-cell-selection">
                                <div class="table-cell-wrapper">
                                    <div class="d-flex flex-column">
                                        <button *ngIf="order.status==EOrderStatus.Pending" class="btn btn-sm btn-success" (click)="changeStatusOrders([order], EOrderStatus.ReadyToShip)"> Ready to ship </button>
                                        <button *ngIf="order.status==EOrderStatus.Pending" class="btn btn-sm btn-danger" (click)="changeStatusOrders([order], EOrderStatus.Canceled)"> Cancel </button>
                                        <button *ngIf="order.status!=EOrderStatus.Pending" class="btn btn-sm btn-info" [routerLink]="'/order/'+order.id"> Details </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="isToggled(order.id)" class="nested-table-child">
                            <td></td>
                            <td colspan="10">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="table-cell table-header-node">
                                                <div class="table-cell-wrapper">
                                                    <p>
                                                        Image
                                                    </p>
                                                </div>
                                            </th>
                                            <th class="table-cell table-header-node">
                                                <div class="table-cell-wrapper">
                                                    <p>
                                                        Product Name
                                                    </p>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="table-cell-wrapper">
                                                    <p>
                                                        Variation
                                                    </p>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="table-cell-wrapper">
                                                    <p>
                                                        Price
                                                    </p>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of order.orderItems">
                                            <td>
                                                <div class="table-cell-wrapper image-wrapper d-flex justify-content-center">
                                                    <img [src]="item.sku.images[0].url | prependHost" class="product-desc-image">
                                                </div>
                                            </td>
                                            <td>
                                                <p>
                                                    {{item.name}}
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    {{item.variation}}
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    {{item.price}}
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>

    <app-pager [model]="paginationInfo" (changed)="onPageChanged($event)"></app-pager>
</div>