<!DOCTYPE html>
<head>
    <title>
form
    </title>
</head>
<body>
<form>
    giới tính: <input type="radio" name="gt1" value="check1" />Nam
    <input type="radio" name="gt1" value="check" />Nữ<br>
    tên:<input type="text" name="ten" value="1234"/>
    <select name="ha">
        <optgroup label="Hà nội">
<option value="hh">11</option>
<option value="hh">12</option>
<option value="hh">13</option>
        </optgroup>
        <optgroup label="Con bò">
            <option value="hh">15</option>
            <option value="hh">17</option>
            <option value="hh">19</option>
                    </optgroup>
                    <option   value="sss" selected> 60</option>
    </select>
</form>
</body>
</html>