<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <p class="nav-link" (click)="changeTab('account')" [ngClass]="{'active':selectedTab==='account'}" aria-current="page">Account</p>
        </li>
        <li class="nav-item">
            <p class="nav-link" (click)="changeTab('address')" [ngClass]="{'active':selectedTab==='address'}" aria-current="page">Address</p>
        </li>
    </ul>
    <div class="row" *ngIf="user">
        <div class="col-12 account" *ngIf="selectedTab=='account'">
            <div class="mb-3">
                <span>Name</span>
                <div>
                    <span>{{user.name}}</span>
                </div>
            </div>
            <div class="mb-3">
                <span>Phone Number</span>
                <div>
                    <span>{{user.phoneNumber}}</span>
                </div>
            </div>
            <div class="mb-3">
                <span>Email</span>
                <div>
                    <span>{{user.email}}</span>
                </div>
            </div>
        </div>
        <div class="col-12 address" *ngIf="selectedTab=='address'">
            <div class="row"> <button class="btn btn-sm btn-primary" (click)="openAddressForm(content)">New Address</button></div>
            <table class="table">
                <thead class="table-header">
                    <tr>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                Street
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                Province/City
                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">

                            </div>
                        </th>
                        <th class="table-cell table-header-node">

                            <div class="table-cell-wrapper">

                            </div>
                        </th>
                        <th class="table-cell table-header-node">

                            <div class="table-cell-wrapper">

                            </div>
                        </th>
                        <th class="table-cell table-header-node">
                            <div class="table-cell-wrapper">
                                Actions
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container class="row" *ngFor="let address of user.address">
                        <tr class="default-address" *ngIf="address.isDefault">
                            <td>
                                <p> {{address.street}}</p>
                            </td>
                            <td>
                                <p>{{address.address1}}</p>
                            </td>
                            <td>
                                <p>{{address.address2}}</p>
                            </td>
                            <td>
                                <p>{{address.address3}}</p>
                            </td>
                            <td>
                                <small class="badge rounded-pill bg-primary">default</small>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-info">
                                    Modify
                                </button>
                            </td>
                        </tr>

                    </ng-container>
                    <ng-container *ngFor="let address of user.address">
                        <tr *ngIf="!address.isDefault">
                            <td><span>{{address.street}}</span></td>
                            <td><span>{{address.address1}}</span></td>
                            <td><span>{{address.address2}}</span></td>
                            <td><span>{{address.address3}}</span></td>
                            <td></td>
                            <td>
                                <button class="btn btn-sm btn-primary" (click)="setAsDefault(address.id)">
                                   Set as default 
                                </button>
                                <button class="btn btn-sm btn-info" (click)="openAddressForm(content, address)">
                                    Modify
                                </button>
                                <button class="btn btn-sm btn-danger" (click)="deleteAddress(address.id)">
                                   Delete 
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-content modal-backdrop">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Address update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body d-flex align-items-center justify-content-around">
            <form *ngIf="addressForm" [formGroup]="addressForm" class="row">
                <div class="mb-3 col-10">
                    <label class="form-label">Street</label>
                    <input type="text" class="form-control" formControlName="street">
                </div>
                <div class="mb-3 col-10">
                    <label class="form-label">Address1</label>
                    <select formControlName="address1" class="form-control custom-select">
                        <option *ngFor="let address1 of address1s" [value]="address1.name">{{address1.name}}</option>
                    </select>
                </div>
                <div class="mb-3 col-10">
                    <label class="form-label">Address2</label>
                    <select formControlName="address2" class="form-control custom-select">
                        <ng-container *ngIf="address1s">
                        <option *ngFor="let address2 of address2s" [value]="address2.name">{{address2.name}}</option>
                        </ng-container>
                    </select>
                </div>
                <div class="mb-3 col-10">
                    <label class="form-label">Address3</label>
                    <select formControlName="address3" class="form-control custom-select">
                        <ng-container *ngIf="address2s && address1s">
                        <option *ngFor="let address3 of address3s" [value]="address3.name">{{address3.name}}</option>
                        </ng-container>
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cancel</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('result')">Save</button>
        </div>
    </div>
</ng-template>